<!-- 
     * Setup the `main.handlebars` file so it's able to be used by Handlebars. -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/public/assets/css/burgerstyle.css" type="text/css"> --}}
		<title>MVC With Burgers!!</title>
		
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
	</body>
</html>